.container{
    display: flex;
    height: 70vh;  
  }
  
  
  .forgot-card{
    flex-direction: column;
    border: 1px rgba(20, 20, 20, 0.438) solid;
    border-radius: 10px;
    height: 70vh;
    // height: 70vh;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    width: 450px;
    margin: 5rem;
  }
  
  .card{
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .text-login{
    font-size: 22px;
    margin-top: 3px;
    margin-bottom: 30px;
  }
//   .mat-card-content{
//     display: flex;
//     flex-direction: column;
//     margin-top: 10px;
//     margin-left: 10px;
//     margin-right: 10px;
//   }
//   .mat-card-actions{
//     display: flex;
//     justify-content: space-between;
//     margin: 8px;
//   }
//   .mat-raised-button{
//     background-color: #1a73e8;
//     color: white;
//     padding-left:20px;
//     padding-right: 20px;
//     margin-right: 20px;
    
//   }
  .Title1{
    color: blue;
    font-size: 25px;
    font-weight: 100%;
}
.Title2{
    color: olivedrab;
    font-size: 25px;
}
.Title3{
    color: orange;
    font-size: 25px;
}
.Title4{
    color: tomato;
    font-size: 25px;
}
.Title5{
    color: magenta;
    font-size: 25px;
}
.Title6{
    color: yellow;
    font-size: 25px;
}
.login{
    margin-top: 15px;
}
.signinbox{
    margin-top: 50px;
}
.createAccount{
    margin-top: -15px;
    padding-left: 154px;
}
.mat-form-field {
width: 250px;
}