<div class="OuterDiv">
    
    <div role="button" class="add" *ngIf="!isTrash">
        <img class="divImg" src="assets/alert.png" alt="">
    </div>
    <div role="button" class="add" *ngIf="!isTrash"  >
        <img class="divImg" src="assets/personadd.png"alt=""  (click)="openDialog()">
    </div>

    <div role="button" class="add" *ngIf="!isTrash" matTooltip="Background color" [matMenuTriggerFor]="color">
        <img class="divImg" src="assets/palette.png" alt="">
        <mat-menu #color="matMenu" fxLayout="row " fxLayoutAlign="start space-between">
            <div fxLayout="row wrap" class="colour" fxLayoutAlign="start center" style="padding-left: 3px;">
                <div *ngFor="let color of colorArray" class="colorBox">
                    <button class="colors" mat-mini-fab (click)="selectColor(color?.colorCode)" mat-icon-button
                        mat-raised-button [style.background]="color?.colorCode"></button>
                </div>
            </div>
        </mat-menu>
    </div>
    <div role="button" class="add" *ngIf="!isTrash">
        <img class="divImg" src="assets/image.png" alt="">
    </div>
    <div role="button" class="add"> 
        <img class="divImg" *ngIf="!isArchieve && !isTrash" (click)=" onArchive()" src="assets/archive.png" alt="">
        <img class="divImg" *ngIf ="isArchieve && !isTrash"  src="assets/unarchive.png" alt=""
            (click)="UnArchieve()">
    </div>

    <!-- <div role="button" class="add" *ngIf="isArchieve && !trash" (click)="UnArchievenote()">
        <img class="divImg" src="../../../assets/unarchive.svg">
    </div> -->

    <div class="add" *ngIf="!isTrash" mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
        <img class="divImg" src="assets/more.png" alt="">
        <mat-menu #menu="matMenu" yPosition="below">
            <button mat-menu-item class="matmenuBtn" (click)="onTrash()">Delete note</button>
            <button mat-menu-item class="matmenuBtn">Add Label</button>
            <button mat-menu-item class="matmenuBtn">Add drawing</button>
            <button mat-menu-item class="matmenuBtn">Make a copy</button>
            <button mat-menu-item class="matmenuBtn">Show check boxes</button>
            <button mat-menu-item class="matmenuBtn">Copy to google Docs</button>
        </mat-menu>
    </div>
    <div class="addS" *ngIf="isTrash" fxLayout="row" fxLayourAlign="center">
        <div matTooltip="Delete forever">
            <img class="icons" (click)="onDelete()" src="assets/delete.png" alt="">
        </div>

        <div class="buttons" matTooltip="Restore">
            <img class="icons" src="assets/restore.png" alt=""(click)=" Restore()">
        </div>
    </div>
        
</div>


