<div class="OuterDiv">
    <div role="button" class="add">
        <img class="divImg" src="assets/alert.png" alt="" width="25px" >
    </div>
    <div role="button" class="add">
        <img class="divImg" src="assets/personadd.png" alt="" width="25px">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="assets/palette.png" alt="" width="25px">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="assets/image.png" alt=""width="25px">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="assets/archive.png" alt="" width="25px">
    </div>
    <div role="button" class="add">
        <img class="divImg" src="assets/more.png" alt="" width="25px">
    </div>
</div>
