.head-style {
    font-weight: bold;
}

.Fundoo-f {
    color: blue;
}

.Fundoo-u {
    color: red;
}

.Fundoo-n {
    color: yellow;
}

.Fundoo-d {
    color: blue;
}

.Fundoo-o {
    color: green;
}

.Fundoo-oo {
    color: red;
}
.Username-Label-Width {
    width: 200px;
}

.mat-cards {
    width: 48%;

    margin-top: 5%;
    margin-left: 27%;
    border: 2px black;
}
.form {
    text-align: center;

}

.Register-img {
    width: 230px;
}

.Form-width {
    width: 60%;
}
.img-width {
    width: 50%;
    margin-top: -29px;
}

.pass-suggest {
    color: blue;
}

.username {
    width: 425px;
}

.lastname-space {
    margin-left: 20px;
}
.Suggestion {
    margin-top: -3px;
    font-size: 13px;
}
.Suggestio{
    margin-top: -3px;
    font-size: 13px;

}

.username-margin {
    margin-top: -170px;
}

.Show-pass {
    font-size: 8px bold;
    margin-top: 15px;
}

.btn-next {
    margin-left: 240px;
}
.SignNextbtn {
    margin-top: 40px;
    padding-bottom: 59px;
    padding-top: 22px;
}
.btn-Sign {
    margin-top: 8px;
    font-size: 12px bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
}

.UseCurrentEmail {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 20px bold;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
}
.img-content{
    font-size: 16px;
    font-weight: 300;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
}
.SignButton{
    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    color: #ffffff;
}
a{
    text-decoration: none;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);;
}


@media only screen and (min-width:'320px') and (max-width:'480px'){
    .mat-cards{
        //  width: 50px;

        height: 100vh;
        // background-color: red;
        box-shadow: none;
        left: -13%;
    }
    .img-width{
        display: none;
    }
    .mainDiv-xs{
        width: 35vw;
        height: 100vh;
    }
    .head-style{
        font-size: medium;
    }
    .create{
        font-size: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
  
    .mat-form-field {
        width: 120px;
    }
    .div{
        display: flex;
        flex-direction: column;
        top: 10%;

    }
    .username-margin{
        position: relative;
        top: 20%;

    }
    .password{
        position: relative;
        top:10%;
    }
    .Suggestion{
        font-size: 7px;
        font-weight: 900;
        top: 10%;
    position: relative;
    }
    .UseCurrentEmail{
    top: 10%;
    left: 90%;
    position: relative;
    }
    .Suggestio{
        font-size: 10px;
        font-weight: 900;
        // top: 10%;
    position: relative;
    top: 20%;
    // position: relative;

    }
    
}