<div class="menu" ngClass.xs="mainDiv-xs"ngClass.sm="mainDiv-xs" ngClass.md="mainDiv-xs" ngClass.lg="mainDiv-xs">
    <mat-toolbar color="primary" fxLayout="row">
        <div class="title-bar" >                   
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="fundoo icon" >
            <div class="textKeep"><p>Fundoo</p></div>
        </div>
        <div class="Searchbar"fxFlex="60%" >
            <mat-form-field appearance="outline">
                <mat-label class="search-area">Search</mat-label>
                <input matInput type="search" placeholder="Search"(keyup)="Search($event)" >      
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="threeIcons">
            <div class="refresh"> <img src="assets/refresh.png" alt="" width="29px"/>  </div>
            <!-- <div class="list"> <img src="assets/listview.png" alt="" width="29px" />  </div> -->
            
                <div class="btn"
                *ngIf="!grid"
                matTooltip="List view"
                (click)="onClickView()">
                <mat-icon>view_stream</mat-icon>
                </div>
              <div class="btn"
              
              *ngIf="grid"
              matTooltip="Grid view"
              (click)="onClickView()"
            >
              <mat-icon>view_module</mat-icon>
              </div>
          
            <div class="setting"> <img src="assets/setting.png" alt="" width="29px" />  </div>

        </div>

        <div class='iconsheader'>
            
            <div class="apps"> <img src="assets/apps.png" alt="" width="29px" />  </div>
            <button mat-icon-button [matMenuTriggerFor]="logout" class="logoutbtn" >
                <img class="circle" src="assets/account_circle.png" alt="" width="29px"/>
              </button>
                <mat-menu #logout="matMenu" >
                 <img   src="assets/logout.png" alt="" (click)="Logout()" />
                </mat-menu>


            <!-- <div class="circle"> <img src="assets/account_circle.png" alt="" width="29px" />  </div> -->

        </div>
        
    </mat-toolbar>
</div>
<mat-sidenav-container style="height: 100vh;">
    <mat-sidenav #sidenav  >
        
        <mat-nav-list class="sidenav-list">
            <div>
                <div>
                    <a mat-list-item routerLink="notes"routerLinkActive="active">
                        <img src="assets/lightbulb.png" alt="" width="29px">
                        <span style="margin-left: 30px;">Notes</span>
                    </a>
                </div>
                <div>
                    <a mat-list-item routerLink="reminder" routerLinkActive="active">
                        <img src="assets/notifications.png" alt="" width="29px">
                        <span style="margin-left: 30px;">Reminders</span>
                    </a>
                </div>
            </div>   
            <div>
                <a mat-list-item routerLink="Edit" routerLinkActive="active">
                    <img src="assets/edit.png" alt=""width="29px">
                    <span style="margin-left: 30px;">Edit labels</span>
                </a>
                
                     
                
            </div>
            <div>
                <div>
                    <a mat-list-item routerLink="archive" routerLinkActive="active">
                        <img src="assets/archive.png" alt=""width="29px">
                        <span style="margin-left: 30px;">Archive</span>
                    </a>
                </div>
                <div>
                    <a mat-list-item routerLink="/dashboard/trash" routerLinkActive="active" fxLayoutGap="20px">
                        <img src="assets/delete.png" alt=""width="29px">
                        <span style="margin-left: 30px;">Trash</span> 
                    </a>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
        <router-outlet></router-outlet>

    </mat-sidenav-content>
        
</mat-sidenav-container>