:ng-deep .mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
  }

::ng-deep .mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
    font: unset;
    color: greenyellow;
}
::ng-deep .mat-toolbar .mat-form-field-label{
    margin-top: unset;
    margin-left: 2%;
    color: #9393a0;
}
::ng-deep .mat-toolbar .mat-input-element {
    margin-left: 2%;
    vertical-align: super;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-prefix{
    font-size: larger;
    color: #5b5b6594;
}

  a.active{
      background-color: rgb(199, 207, 124);
      border-radius: 0px 20px 20px 0px;
  }
  .title-bar {
   
    
    p{
        margin-top: 5px;
        border-bottom-width: 0px;
        margin-bottom: 0px;
        width: 100px;
        text-align: center;
        color: #6f6f6f;
        font-size: 22px;
        cursor: pointer;
    }
    
    //   .fundoo-icon{
    //       cursor: pointer;
    //   }
    width: 120px;
    // height: 40px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between 
  }
.textkeep{
    font-weight: bold;
    font-size: 2em;
    color: #6f6f6f;
}
.Searchbar{
    height: 42px;
    width: 850px;
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.search-area{
    left: 25px;
}

.profile-menu{
    display: flow-root;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    align-self: center;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 0%;
        cursor: default;
    }
    div{
        padding-left: 70%;
        margin-top: -30%;
        transform: rotate(0deg);
        button {
            cursor: pointer;
        }
    }   
}

.user-detail>p{
    text-align-last: center;
}

.user-detail>button{
    border-radius: 30px;
}


.mat-toolbar.mat-primary {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: .5px solid rgb(177, 177, 177); 
    padding: 0;   
    height: 56.5px;
    padding-bottom: 1%;
    margin-top: 1%;
}
.sidenav-position-class{
    position: fixed;
}

.mat-sidenav .mat-sidenav-content{
    padding: 16px;
}
.header-profile-pic{
    border-radius: 20px; 
    width: 40px; 
    height: 40px;
}

.mat-form-field{
    width:100%;
    margin-top: 25px;
}

.mat-sidenav{
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}

// .sidenav-list>div{
//     border-bottom: 0.4px solid;
// }

.search-container {
    color: rgb(109, 109, 109);
}
.menu{
    width : 100vw;
    height : 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 2px solid grey;
}
.threeIcons{
    display: flex;
    // height: -13px;
    align-items: center;
    margin-left: 180px;
}
.iconsheader{
    display: flex;
    margin-left: 150px;
    align-items: center;
}
.circle{
    margin-left: 10px;
}
.refresh{
    margin-right: 10px;
}
.setting{
    margin-left: 10px;
}
.mat-toolbar.mat-primary {
border-bottom: 5.5px solid #b1b1b1;
}