.mat-box{
    height: 140px;
    // width: 50px;
   
    margin-top: 30px;
    
}
.grid-getAllNotes
{
    //  display: flex; flex-flow: row wrap;padding-left: 54px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-left: 15%;
    flex-wrap: wrap;
    
}
.list-getAllNotes {
    flex-direction: column;
    // box-sizing: border-box;
    display: flex;
    margin-left: 30%;
    // width: 50px;
    flex-wrap: wrap;
    .con>mat-card{
        // padding: 25px;
        width: 550px;
        }
  }
.con{
    padding-left: 36px;
    display: flex;
}
// .con>mat-card{
// padding: 25px;
// width: 400px;
// }
.icons{
    margin-top: 42px;
}
