<div class="matbox">
    <div class="coll">
        <h1>Collaborators</h1>
    </div>
    <div class="email">
        <div class="mail"><img class="circle" src="assets/account_circle.png" alt="" width="29px"/>
        {{First}} {{last}}<div class="user"> {{user}}</div>
        </div>
        <form class="example-form">
         <div><img class="divImg" src="assets/personadd.png"alt="" width="29px"><mat-form-field appearance="fill" class="LabelWidth" >
            <mat-label>Person or email to share with</mat-label>
            <input type="text" placeholder="" matInput 
            [formControl]="myControl"
            [matAutocomplete]="auto">
            
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field></div>
        </form>
    </div>  
    <div class="border">
        <button mat-icon-button class="CancelButton" (click)="closeDialog()">Cancel</button>
        <button mat-icon-button (click)="addCollab()"  class="SaveButton">Save</button>

    </div>        

</div>
