<div class="matbox">
    <div class="coll">
        <h1>Collaborators</h1>
    </div>
    <div class="email">
        <img class="circle" src="assets/account_circle.png" alt="" width="29px"/>
         <div><img class="divImg" src="assets/personadd.png"alt="" width="29px"><mat-form-field appearance="fill" class="LabelWidth" >
            <mat-label>Person or email to share with</mat-label>
            <input matInput placeholder="" >
        </mat-form-field></div>
    </div>  
    <div class="border">
        <button mat-icon-button class="CancelButton">Cancel</button>
        <button mat-icon-button  (click)="closeDialog()" class="SaveButton">Save</button>

    </div>        

</div>
