<div class="container" fxLayoutAlign="center">

    <div class="forgot-card">
        <div class="card">
            <span class="Title1">F</span>
            <span class="Title2">u</span>
            <span class="Title3">n</span>
            <span class="Title4">d</span>
            <span class="Title5">o</span>
            <span class="Title6">o</span>
        </div>
        <div class="login">
            <p class="text-login">Reset Password</p>


            <p>Create new Password
            </p>
        </div>
    
    <div class="signinbox">
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput placeholder="New Password">

        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password">

        </mat-form-field>
    </div>
    <div class="createAccount">
        <div class='createAccountText'><Button style="background-color:blue ;" onClick={pushFunc} size='small'>Reset</Button></div>
    </div>

</div>
</div>
